For loop

In [1]:
laptop1 = int(input('Enter the price of the laptop : '))
laptop2 = int(input('Enter the price of the laptop : '))
laptop3 = int(input('Enter the price of the laptop : '))
laptop4 = int(input('Enter the price of the laptop : '))
laptop5 = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 20000
Enter the price of the laptop : 30000
Enter the price of the laptop : 40000
Enter the price of the laptop : 50000
Enter the price of the laptop : 60000

In [4]:
for i in range(5): # 0, 1, 2, 3, 4
    laptop_price = input('Enter the price of the laptop : ')

Enter the price of the laptop : 20000
Enter the price of the laptop : 30000
Enter the price of the laptop : 40000
Enter the price of the laptop : 50000
Enter the price of the laptop : 60000

In [5]:
numbers = [50 , 100, 150, 200]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [6]:
numbers = [50 , 100, 150, 200]

for i in numbers:
    print(i)

50
100
150
200

While loop

while condition:

statement

In [8]:
i = 0

while i<10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [10]:
i = 5

while i<3:
    print(i)
    i += 1