In [1]:
pip install pandas

Requirement already satisfied: pandas in e:\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in e:\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in e:\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in e:\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in e:\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Programming Laguage used for Machine Learning
1. Python
2. R

# print function

In [2]:
print('Machine Learning')

Machine Learning

In [4]:
print('Machine Learning' + ' Projects')

Machine Learning Projects

In [5]:
print(8)

8

In [6]:
print(8+3)

11

# Basic Data types:
1. int
2. float
3. str

In [8]:
type(8)

int

In [9]:
type(8.4)

float

In [10]:
type('Hello')

str

# Constants & Variables

In [12]:
superhero = "Iron Man"
print(superhero)

Iron Man

In [13]:
marvel_super_hero = "Captain America"
print(marvel_super_hero)

Captain America

In [14]:
hero1,hero2,hero3 = 'Iron Man', 'Captain America', 'Bat Man'
print(hero1)
print(hero2)
print(hero3)

Iron Man
Captain America
Bat Man

In [15]:
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

# input Function

In [1]:
number_1 = input("Enter the first number : ")
number_2 = input("Enter the second number : ")
sum = number_1 + number_2
print(sum)

Enter the first number : 23
Enter the second number : 23
2323

In [2]:
type(number_1)

str

In [3]:
number_1 = int(input("Enter the first number : "))
number_2 = int(input("Enter the second number : "))
sum = number_1 + number_2
print(sum)

Enter the first number : 23
Enter the second number : 23
46

In [5]:
# changing the data type in python:
num = 5
float(num)
print(float(num))

5.0